<mat-dialog-content>
    <mat-toolbar><span>Exam Info</span></mat-toolbar>

<div class="example-container">

    <mat-form-field>
        <input matInput placeholder="Nombre examen" [(ngModel)]="exam.nameExam">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Descripción examen" [(ngModel)]="exam.descriptionExam">
    </mat-form-field>

    <button mat-button (click)="operate()">Done</button>
    <button mat-button color="warn" (click)="close()">Cancel</button>
</div>

</mat-dialog-content>

